# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.local

# IDE
.idea/
